{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block head%}

{{super()}}
<link rel='stylesheet' href='https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet'
  href='https://unpkg.com/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker.standalone.min.css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">




{% endblock %}
{% block content %}
<div class="container">
<div id="calendar" style="padding: 10px;"></div>
</div>
{% if current_user.is_authenticated %}

<!-------    MODAL EVENT ------->

<div class="modal fade" id="event-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add/Update Course Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/addevent" method="POST" class="form-horizontal">
          <input type="hidden" name="event-index">
          <div class="form-group row">
            <label for="event-name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <input id="event-name" name="event-name" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="event-location" class="col-sm-4 control-label">Location</label>
            <div class="col-sm-8">
              <input id="event-location" name="event-location" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="min-date" class="col-sm-4 control-label">Dates</label>
            <div class="col-sm-8">
              <div class="input-group input-daterange" data-provide="datepicker">
                <input id="min-date" name="event-start-date" type="text" class="form-control"
                  data-date-format="dd/mm/yyyy">
                <div class="input-group-prepend input-group-append">
                  <div class="input-group-text">to</div>
                </div>
                <input name="event-end-date" type="text" class="form-control" data-date-format="dd/mm/yyyy">
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" id="save-event" value="Save"></input>
        </form>
      </div>
    </div>
  </div>
</div>

<!-------    MODAL DELETE ------->
<div class="modal fade" id="eventdelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete of Course Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <form action="/delete" method="POST">
          <input type="hidden" name="eventdelete-index">
              Are you sure to DELETE the following course?
              <p id="eventdelete-name" name="eventdelete-name">Text</p>
              <p id="eventdelete-location" name="eventdelete-location">Text</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-danger" id="save-event" value="DELETE"></input>
      </div>
    </form>
    </div>
  </div>
</div>

{% endif %}

<!-------    MODAL DETAIL ------->
<div class="modal fade" id="eventdetail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail of Course Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <input type="hidden" name="eventdetail-index">
          <div class="form-group row">
            <label for="eventdetail-name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <p id="eventdetail-name" name="eventdetail-name">Text</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="eventdetail-location" class="col-sm-4 control-label">Location</label>
            <div class="col-sm-8">
              <p id="eventdetail-location" name="eventdetail-location">Text</p>
            </div>
          </div>
          <div class="form-group row">
            <label for="min-date" class="col-sm-4 control-label">Dates</label>
            <div class="col-sm-8">
              <div class="input-group input-daterange" data-provide="datepicker">
                <input id="min-date" name="eventdetail-start-date" type="text" class="form-control"
                  data-date-format="dd/mm/yyyy" disabled>
                <div class="input-group-prepend input-group-append">
                  <div class="input-group-text">to</div>
                </div>
                <input name="eventdetail-end-date" type="text" class="form-control" data-date-format="dd/mm/yyyy" disabled>
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="context-menu"></div>
<hr>
<h3>Course event list</h3>
{% for m in main %}
<div class="card" style="margin: 40px;">
  <div class="card-body">
    <h5 class="card-title">{{m.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ m.location }}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text">{{ m.startDate_card }} to {{ m.endDate_card }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block scripts%}
{{ super() }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js'></script>
<script>
  let calendar = null;

  function editEvent(event) {
    $('#event-modal input[name="event-index"]').val(event ? event.id : '');
    $('#event-modal input[name="event-name"]').val(event ? event.name : '');
    $('#event-modal input[name="event-location"]').val(event ? event.location : '');
    $('#event-modal input[name="event-start-date"]').datepicker('update', event ? event.startDate : '');
    $('#event-modal input[name="event-end-date"]').datepicker('update', event ? event.endDate : '');
    $('#event-modal').modal();
  }

  function detailEvent(event) {
    $('#eventdetail input[name="eventdetail-index"]').val(event ? event.id : '');
    $('#eventdetail-name').html(event ? event.name : '');
    $('#eventdetail-location').html(event ? event.location : '');
    $('#eventdetail input[name="eventdetail-start-date"]').datepicker('update', event ? event.startDate : '');
    $('#eventdetail input[name="eventdetail-end-date"]').datepicker('update', event ? event.endDate : '');
    $('#eventdetail').modal();

  }

  function deleteEvent(event) {
    $('#eventdelete input[name="eventdelete-index"]').val(event ? event.id : '');
    $('#eventdelete-name').html(event ? event.name : '');
    $('#eventdelete-location').html(event ? event.location : '');
    $('#eventdelete').modal();
  }

  $(function () {
    var currentYear = new Date().getFullYear();

    calendar = new Calendar('#calendar', {
      enableContextMenu: true,
      enableRangeSelection: true,
      contextMenuItems: [
        {
          text: 'Details',
          click: detailEvent
        },
        {% if current_user.is_authenticated %}
        {
        text: 'Update',
        click: editEvent
      },
        {
      text: 'Delete',
      click: deleteEvent
    }
    {% endif %}
      ],
    selectRange: function (e) {
      editEvent({ startDate: e.startDate, endDate: e.endDate });
    },
    mouseOnDay: function (e) {
      if (e.events.length > 0) {
        var content = '';

        for (var i in e.events) {
          content += '<div class="event-tooltip-content">'
            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
            + '<div class="event-location">' + e.events[i].location + '</div>'
            + '</div>';
        }

        $(e.element).popover({
          trigger: 'manual',
          container: 'body',
          html: true,
          content: content
        });

        $(e.element).popover('show');
      }
    },
    mouseOutDay: function (e) {
      if (e.events.length > 0) {
        $(e.element).popover('hide');
      }
    },
    dayContextMenu: function (e) {
      $(e.element).popover('hide');
    },
    dataSource: [
    {% for m in main %}
  {
    id: {{ m.id }},
    name: '{{ m.name }}',
      location: '{{ m.location }}',
        startDate: new Date({{ m.startDate }}),
  endDate: new Date({{ m.endDate }})
                },
  {% endfor %}
            ]
        });


    });

</script>


{% endblock %}