{% extends "base.html" %}
{% block h4 %}Emergency Medicine Course Calendar{% endblock %}
{% block content %}

<div class="container">
<h5>{{event.name}}</h5>
<h5>{{event.location}}</h5>
<h5>{{startDate_list[0]}} {{startDate_list[1]}} {{startDate_list[2]}}</h5>
<h5>{{endDate_list[0]}} {{endDate_list[1]}} {{endDate_list[2]}}</h5>

</div>



{% endblock %}
{% block scripts%}
{{ super() }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js'></script>

{% endblock %}