{% extends "base.html" %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to <br>The Malaysian College of <br>Emergency Phycisians</h1>
      <h2>Humanistic Care When It Matters Most</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" style="max-width: 900px;">

            <div class="content">
              <h3>Statement by College of Emergency Phycisians</h3>
              
                <ol>
                  <li>Covid-19 pandemic has become a global phenomenon and Malaysia has seen more than 700 patients so far.</li>
                  <li>Since the beginning of the cluster outbreak, Ministry of Health had quickly started measures  by screening suspects, detecting contacts, creating screening areas and creating specific admitting hospitals. Both the Public and Private facilities are cooperating and collaborating.</li>
                  <li>Advisories had been given for the public to practise frequent handwash, avoiding the crowd and wearing mask if having respiratory symptoms. Recently, Movement Restriction Order (MRO) had been issued  by the government to all Malaysians in an effort to break the chain of virus transmission. </li>
                  
                  <li>Emergency Departments around the country had taken all measures in the face of this pandemic. Suspects of Covid-19 are isolated to a separate are for screening.  </li>
                  <li>The College of Emergency Physicians urges the public to adhere strictly to the MRO, advocate social distancing and avoid any events involving mass gathering. Anyone having symptoms such as cough, sore throat or runny nose must wear mask. The public should wash their hands with water and soap upon touching objects and avoid touching face and mouth. Social distancing practice can be made by being more than 1 metre away from others </li>
                  
                  <li>The college would also advise that not all individuals having upper respiratory tract symptoms are covid-19. Just like in normal times, many of these cases are the usual cough and cold which are may not due to covid-19. If you do not have any close contacts with other covid-19 cases, or part of Sri Petaling religious congregation and has not come back from countries such as China, Japan, South Korea, Europe, Scandinavia and many others within the last 14 days, please do not to come to Emergency Departments. Such cases should go to the nearest public or private clinics.</li>
                  <li>Emergency Departments are focused on treating emergency cases, and unnecessary attendance of non-emergency cases will cause added strain to the services. Coming to the emergency departments will only increase the risk of getting infections as the ill ones are congregated at hospitals. </li>
                  
                  <li>The Ministry of Health (MOH) facilities will only perform throat swab examinations according to the agreed guidelines. Most suspects without symptoms will be followed up by health department and supplied with home assessment tools (HAT). Concerned public can also utilize listed private laboratories and private hospitals that offered similar services. </li>
                  <li>To all frontliners throughout the country, we implore all to protect yourself. Please wear appropriate personal protective equipment (PPEs). Please observe the full steps of donning and doffing the PPEs. All of you carry out important duties with risks not different from soldiers fighting for the country in a battle. We salute you and hope that non will be infected. All of you are very precious in this difficult time. </li>
                  <li>It takes everyone to win this battle against the virus. If everyone in Malaysia practises the preventive strategies as advised by the ministry, we can stop this virus from spreading. The college believes that winning this battle is done with every member of the public working together by practising preventive measures at all times. Together, we shall overcome this pandemic.</li>
                  
                  
                  </ol>    
          </div>
            <div class="content">

              <h3>Foreword by Dr Mahathar Abd Wahab Elected President for CEP, AMM <br>2017-2019</h3>
              <div class="container" style="text-align: center;">
                <img src="../static/img/datuk_m.png" alt="Avatar" style="width:200px;border-radius: 50%;">
              </div>
              <br>
              <p>In The Name of Allah The Most Gracious and The Merciful
              Salam Sejahtera and Salam 1Malaysia</p>
                            
              <p>Dear Colleagues,</p>
                           
              <p>It has been an honour to be elected again as the President of the College of Emergency Physicians, Academy of Medicine,
              Malaysia for the term of 2017- 2019. It is indeed a huge responsibility that needs to be carried out with full
              commitment, focus and spirit.</p>
                           
              <p>For the newly elected team, we shall remain focused and steadfast in achieving the main objectives of the establishment
              of this august college. This includes our works in facilitating and encouraging academic activities geared towards the
              advancement of emergency medicine.</p>
                           
              <p>The college shall garner the energy and enthusiasm of the young while at the same time tapping the wisdom of the elders
              and fuse these together as we fight for the development of this medicine in order to stay relevant, fresh and updated.</p>
                        
              <p>I believe our members shall provide necessary support and input for us to lay down all appropriate strategies to achieve
              our objectives. The council shall steer the college to reach its intended destination, but the ideas, energy and support
              must come from its members.</p>
                                  
              <p>The coming years are important for the college especially with the amendment of The Medical Act going into force which
              shall incorporate compulsory National Specialist Registration. It is the duty of the college to ensure that all our
              voices and opinions are heard and taken into consideration and the interests of the members are protected while patients
              and the public are made aware of our roles and how we could work in unison to bring about excellence in emergency
              medicine practice in Malaysia.</p>
           
              <p>I urge all members to unite and consolidate using the college as the platform. The college leadership is carrying out
              activities that have planned carefully for great impacts in our practice of care. After the successful EMAS 2016, the
              EMAS 2018 shall follow this year, bringing the fraternity together during which, they shall be indulged with exciting
              new updates and advances in emergency medicine. Over the last year or two, CEP, AMM has been actively endorsing and
              organizing various academic activities as part of our effort to enhance the skills, competency and knowledge of medical
              officers working in emergency department.</p>
              
              <p>CEP also will work to provide opportunities for medical officers to obtain post graduate qualification in emergency
              medicine, by bringing Royal College of Emergency Medicine (UK) program to Malaysia. God Willing, by the end of 2018
              FRCEM Examination will come to our shores.</p>
              
              <p>This co-operation with the prestigious college is not about the examination alone, but shall include various other
              collaborations such as research and training opportunities. CEP also has been actively advocating advancement of
              emergency medicine, by providing the platform of the various Special Interest Group (SIGs) in carrying out their
              academic activities.</p>
              
              <p>Just like the strength of a chain being determined by its weakest link, we need to charge ahead with unbreakable bond
              and create our future and destiny as a cohesive fraternity. With this in mind, we shall in the end leave a legacy for
              our members to embrace and carry on with boundless energy, spirit and enthusiasm as if this is our own form of ‘chain of
              survival’ for our college.</p>
              
              <p>May Allah Bless and Guide Us All in providing humanistic care when it matters most.</p>

              <p>“For the strength of the Pack is the Wolf, and the strength of the Wolf is the Pack” - Rudyard Kipling</p>
              
              <br>Sincerely,
              
              <p>Dr Mahathar Abdul Wahab
              <br>President
              <br>College of Emergency Physician, Academy Medicine Malaysia
              <br>2018</p>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Dine Pad</a></h4>
              <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">

    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Dele cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">

    </section><!-- End Appointment Section -->

    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">

    </section><!-- End Departments Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">

    </section><!-- End Doctors Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">

    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}